
.signup-button {
    background-color: rgb(225, 2, 2);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 430px;
    border: none;
    align-items: center;
    font-family: Arial, sans-serif; 
    font-size: 17px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;     
    background-color: white; 
    color: black;
  }
  
.input-container {
    position: relative;
    background-color: white; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input {
    width: 400px;
    padding: 10px;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    border: none;
    color: black;
    background-color: white;
    caret-color: black; 
    margin-left: -40px;
  }
  
  .input::placeholder {
    color: black; 
    position: absolute;
  }
  

.input-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%; 
    height: 2px;
    background-color: red;
    font-weight: bold;
    
  }
  
  .heading1 {
    font-size: 34px;
    font-weight: bold;
    text-align: left;
    font-family: Impact, fantasy; 
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .heading {
    font-size: 34px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif; 
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .gray-line {
    width: 100%;
    height: 4px;
    background-color: rgb(203, 202, 202);
    margin-top: 0px;
  }

  .appLogo {
    width: 70px; 
    height: auto; 
    margin-right: 10px;
  }

  .page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    height: 75px;
    border-bottom: 2px rgb(171, 170, 170) solid;
  }
  
  .header-content {
    margin-left: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

.have-account{
  margin-bottom: 100px;
}

.red-quarter-circle {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 150px; 
  height: 150px; 
  background-color: rgb(228, 1, 1);
  border-radius: 0 100% 0 0; 
}

.heading-words {
  font-size: 34px;
  font-weight: 900;
  text-align: left;
  font-family:  Trebuchet MS, sans-serif;
  margin-bottom: 20px;
  margin-top: 15px;
}