.dashboard {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.logList {
    display: flex;
    flex-direction: column;
}

.logItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.logTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.logDate,
.logHours,
.logDescription {
    margin-top: 5px;
}

.noLogs {
    text-align: center;
}

.threeSides {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    width: 800px;
}
.all {
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    margin-left: 100px;
    margin-top: 24px;
    margin-bottom: 23px;
    width: 900px;
    height: 130px;
    transition: ease 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.all:hover {
    transform: scale(1.03); /* Increase the scale factor to make it "pop" more */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    background-color: rgb(48, 48, 129);
    height: 126px;
    color: white;
    border-radius: 8px 0px 0px 8px;

}

.date {
    font-size: 30px;
    margin-bottom: 5px;
}

.allInfo {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
    color: gray;
}

.dot {
    padding-right: 6px;
    padding-left: 6px;
    color: gray;
}

.hours {
    margin-left: 4px;
    color: gray;
    font-size: 17px;
}

.num {
    color: gray;
    font-size: 17px;
}

.desc {
    margin-bottom: 10px;
    font-size: 15px;
}

.heading {
    font-weight: bold;
    font-size: 24px;
}

.editButton {
    margin: 15px;
}

.editButton :hover {
    
}

.fourSides {
    display: flex;
    flex-direction: row;
    align-items: center;
}