.user_info {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    float: left;
}

.user_name {
    font-size: 20px;
}
.first_letter {
    font-size: 25px;
}
.user_identifier {
    font-size: 14px;
}
.user_info_left {
    display: flex;
    flex-direction: row;
}
.user_pfp {
    background-color: #d21312;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 7px;
}
